body{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

form{
    display: flex;
    justify-content: center;
}

fieldset{
    display: flex;
}


.text{
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
}

h2{
    margin: 0 0 0 5em;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
}

.line-1 {
    height: 6px;
    background: #E7B355;
}

.container {
    justify-content: center;
    display: flex;
    background-color: #FFC75F;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-image {
    width: 250px;
    height: 250px;
}

.text2 {
    margin: 0;
}

form {
    width: fit-content;
    background-color: #EFEFEF ;
    border-radius: 20px;
}

input {
    background-color: #EFEFEF ;
    border : none;
}

fieldset{
    border: none;
}

.keyboard-image{
    height: 30px;
    width: 60px;
}

.login-form-container{
    align-items: center;
    position: absolute;
    height: 80px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    
}

.button-login{
    border:none;
    background-color: #EFEFEF;
    color: white;
}

.nav-bar{
    background-color: #FFC75F;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.options{
    display: flex;
    flex-direction: row;
}

.translate-input-container{
    align-items: center;
    position: absolute;
    height: 80px;
    border-radius: 20px;
    left: 50%;
    top: 55px;
    transform: translate(-50% , 0%);
}

.text-translated{
    width: 800px;
    border-radius: 20px;
    background-color: #EFEFEF;
    top: 110px;
    height: 330px;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0px);
    align-items: center;
    display: flex;
}

.history-container{
    width: 800px;
    border-radius: 20px;
    background-color: #EFEFEF;
    top: 110px;
    height: 330px;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0px);
    align-items: center;
    justify-content: center;
}

h4{
    margin-left: 280px;
}

.clear-history{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #845EC2;
    color: white;
    border: none;
    border-radius: 20px;
}

.button-logout{
    background-color: #845EC2;
    color: white;
    border: none;
    border-radius: 20px;
}